<!-- templates/frontend_appescuela/eliminar_matricula.html -->

{% extends "frontend_appescuela/base.html" %}
{% block title %}Eliminar Matrícula{% endblock %}
{% block content %}
<h2>¿Estás seguro de eliminar esta matrícula?</h2>
<p><strong>Alumno:</strong> {{ matricula.Alumno }}</p>
<p><strong>Curso:</strong> {{ matricula.Curso }}</p>
<p><strong>Fecha:</strong> {{ matricula.FechaMatricula|date:"d/m/Y H:i" }}</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'frontend_appescuela:listado_matricula' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}